footer
	.widthRestriction
		h1.logoFont VKYD
		.footer-col-container
			.footer-col-3#footer-col-3-1
				h2 Featured
				a(href="/ourStory") Our Story
				br
				a(href="/#newArrivals") New arrivals
				br
				a(href="/lookbook") Lookbook
				br
				a(href="/wallpapers") Wallpapers
				br
				a(href="/team") The Team
			.footer-col-3#footer-col-3-2
				h2 Information
				a(href="#") Returns
				br
				a(href="#") Shipping
				br
				a(href="#") Terms
				br
				a(href="#") Privacy Policy
			.footer-col-3#footer-col-3-3
				h2 Connect with us
				br
				.socialIcons
					a(href="https://www.instagram.com/vkydclothing/")
						i.fab.fa-instagram
					a(href="#")
						i.fab.fa-snapchat
					a(href="#")
						i.fab.fa-facebook
					a(href="#")
						i.fab.fa-tiktok
					a(href="#")
						i.fab.fa-spotify
					a(href="mailto: vkydclothing@gmail.com")
						i.fa.fa-envelope
				br
				br
				h3 Join the mailing list
				input(type="text")

//- Snipcart
#snipcart(hidden data-api-key="ODc4ZTU2ZmQtYWIwOC00MGZhLWJlMjQtMmU1MDc4NGNjNzczNjM3MzA2ODA0MTUxMzMzNDU4")
script(src="https://cdn.snipcart.com/themes/v3.0.17/default/snipcart.js")