html
	include includes/head.pug
	body
		include includes/commonPartials/navbar.pug
		#belowTopnavContent
			.widthRestriction.center.login
				br
				br
				br
				h1 Kindly login to proceed
				br
				a(href="#")
					button
						i.fa.fa-apple 
						| &nbsp; Login with Apple
				br
				a(href="#")
					button 
						i.fa.fa-facebook 
						| &nbsp; Login with Facebook
				br
				a(href="#")
					button
						i.fa.fa-google 
						| &nbsp; Login with Google
				br
				br
				br
				br
				br
				br
			include includes/commonPartials/footer.pug

		//- Homebrewed scripts
		script(src="/javascripts/topnavStyle.js")