section.featuredSections
	.col-2
		a(href="javascript:void(0)")
			.container
				img(src="media/indexFeaturedSections/testFeatured1.jpg")
				h2 Pronounced Wick3d
		a(href="javascript:void(0)")
			.container
				img(src="media/indexFeaturedSections/testFeatured2.jpg")
				h2 Our Story
	.col-2
		a(href="javascript:void(0)")
			.container
				img(src="media/indexFeaturedSections/testFeatured3.jpg")
				h2 Lookbook 2020
		a(href="javascript:void(0)")
			.container
				img(src="media/indexFeaturedSections/testFeatured4.jpg")
				h2 The People