section.newArrivals
	.widthRestriction
		br
		br
		h1.center New arriVaLS
		br
		.row
			.card
				img(src=("/media/products/test/feature.jpg"))
				br
				h3 BLVCK Hoodie
				a(href="#")
					button Check it out
				a(href="#")
					button Add to cart
			.card
				img(src=("/media/products/test/feature.jpg"))
				br
				h3 BLVCK Hoodie
				a(href="#")
					button Check it out
				a(href="#")
					button Add to cart
			.card
				img(src=("/media/products/test/feature.jpg"))
				br
				h3 BLVCK Hoodie
				a(href="#")
					button Check it out
				a(href="#")
					button Add to cart
			.card
				img(src=("/media/products/test/feature.jpg"))
				br
				h3 BLVCK Hoodie
				a(href="#")
					button Check it out
				a(href="#")
					button Add to cart
			.card
				img(src=("/media/products/test/feature.jpg"))
				br
				h3 BLVCK Hoodie
				a(href="#")
					button Check it out
				a(href="#")
					button Add to cart
			.card
				img(src=("/media/products/test/feature.jpg"))
				br
				h3 BLVCK Hoodie
				a(href="#")
					button Check it out
				a(href="#")
					button Add to cart