section.statement
	.widthRestriction
		br
		br
		br
		br
		h2 ✊🏿 Black Lives Matter
		p Black Lives Matter is a decentralized movement advocating for non-violent civil disobedience in protest against incidents of police brutality and all racially motivated violence against Black people. Black Lives Matter is a decentralized movement advocating for non-violent civil disobedience in protest against incidents of police brutality and all racially motivated violence against Black people. Black Lives Matter is a decentralized movement advocating for non-violent civil disobedience in protest against incidents of police brutality and all racially motivated violence against Black people.
		a(href="#")
			button VKYD Official Statement
		a(href="#")
			button How you can help
		a(href="#")
			button Donate
		a(href="#")
			button Learn more
		br
		br
		br
		br
		br
