.gallery
	.productPageCol-2
		img(src=("/media/products/"+product.id+"/1.jpg"))
		img(src=("/media/products/"+product.id+"/2.jpg"))
	.productPageCol-2
		img(src=("/media/products/"+product.id+"/3.jpg"))
		img(src=("/media/products/"+product.id+"/4.jpg"))
	img(src=("/media/products/"+product.id+"/5.jpg"))