html
	include ../includes/head.pug
	body
		include ../includes/commonPartials/navbar.pug
		#belowTopnavContent
			include ../includes/commonPartials/footer.pug

		//- Homebrewed scripts
		script(src="/javascripts/topnavStyle.js")